<ul *ngFor="let c of categories;">
    <div class="category">{{ c.name }}</div>
    <hr>
    <li *ngFor="let p of products;">
        <div *ngIf="matchesCategoryId(p.product_data.categories, c.id)" id='shown'>
            <div class="kind1" *ngIf="p.product_data.kind === 1">
                <div class="smallbox">
                    <div>
                        <img src="https://assets.compramass.com/products/{{p.product_data.ean}}-80@3x.jpg "
                            class="smallimg">
                    </div>
                    <div class="smallDescription">
                        {{ p.product_data.name }}<br>
                        <b>{{ p.product_data.price  | currency : 'USD' : 'symbol' : '1.0-0'}}</b>
                    </div>
                    <div>
                        <button class="shop" type="button">Comprar</button>
                    </div>
                </div>
            </div>
            <div class="kind2" *ngIf="p.product_data.kind === 2">
                <img src="https://assets.compramass.com/products/{{p.product_data.ean}}@3x.jpg" class="bigimg">
                <div class="bigbox">
                    <div class="description">
                        {{ p.product_data.name }}<br>
                        <b id='price'>{{ p.product_data.price | currency : 'USD' : 'symbol' : '1.0-0' }}</b>
                    </div>
                    <div>
                        <button class="shop" type="button">Comprar</button>
                    </div>
                </div>
            </div>
        </div>
    </li>
</ul>